version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "automated"
      - "dependencies"
    assignees:
      - "SilverKnightKMA"

  - package-ecosystem: "npm"
    directory: "/src"
    schedule:
      interval: "daily"
    labels:
      - "automated"
      - "dependencies"
    assignees:
      - "SilverKnightKMA"
